body{
  font-family: 'Proxima Nova', helvetica, sans-serif;
  color: #333;
}

:root{
  --small-spacing: 15px;
  --medium-spacing: 30px;
  --large-spacing: 50px;
  --light-grey: #EFEFEF;
}

h1{
  font-size: 2.5em;
  margin-bottom: var(--medium-spacing);
}

h2{
  font-size: 2.125em;
}

h3{
  font-size: 2.875em;
}

.content-wrapper{
  padding: var(--medium-spacing);
}

.steps{
  text-align: center;
}

header h1{
  text-align: center;
}

section.dog-summary-card{
  width: 70%;
  margin: 0 auto;
}

section.dog-summary-card img.dog-photo{
  border-radius: 50%;
  width: 50%;
  height: auto;
  margin: 40px auto 0 auto;
}

.dog-summary-card h3{
  text-align: center;
}


.dog-logo {
 width: 50%;
 max-width: 200px;
 display: block;
 margin: 0 auto var(--medium-spacing) auto;
}

.centered-copy{
  margin-bottom: var(--medium-spacing);
}

.setup-button{
  display: block;
  margin: 0 auto 0 auto;
}

.setup-actions{
  display: flex;
  flex-flow: row;
}

.setup-button{
  width: 60%;
}

.skip-button{
  width: 30%;
}

.setup-section{
  background-color: var(--light-grey)
}
